<div class="panel panel-default">
  <div class="panel-body">
    <% unless post.comments.count.zero? %>
      <span class="badge pull-right"><%= post.comments.count %></span>
    <% end %>
    <strong>
      <%= link_to post.title, post_path(post), id:"post-show-action" %>
    </strong>
  </div>
  <div class="panel-footer">
    <div class="text-muted">
      <em>
        <%= "posted #{time_ago_in_words(post.updated_at)} ago" %>
        <%= " - by #{post.user.username}" %>
      </em>
    </div>
  </div>
</div>
